.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.filterActive{
  background-color: #49daff;
}

.errorInput{
  border: 2px solid #f00;
}

.taskCompleted{
  color: #b7b7b7;
}

.toSide{
  display: none;
}

.toShow {
  display: block;
}
